.about_me {
  &_header {
    padding: 0;
  }

  &_body {
    display: flex;
    padding: 0 10px 10px;

    @media screen and (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
    }
  }

  &_description {
    padding: 0 10px 0 20px;
    font-size: 1.6rem;
    text-align: justify;

    @media screen and (max-width: $tablet) {
      font-size: 1.4rem;
    }
  }

  &_image {
    &_item {
      width: 200px;
      height: 200px;
      position: absolute;
      border: 5px solid #fff;
      outline: 1px solid #000;
      background-size: cover;
      transition: all 0.3s;
      box-sizing: border-box;
      cursor: pointer;

      @media screen and (max-width: $tablet) {
        width: 150px;
        height: 150px;
      }

      &_now {
        background-image: url('../assets/photos/foto-now-min.png');
        z-index: 3;
        left: 0;
      }

      &_past {
        background-image: url('../assets/photos/be90367e6933b2301eae4d2bac79c8d3-min.jpg');
        top: 25px;
        left: 50px;
        z-index: 2;

        @media screen and (max-width: $tablet) {
          top: 0;
        }
      }

      &_plane {
        background-image: url('../assets/photos/5942981_large-min.jpg');
        top: 50px;
        left: 100px;
        z-index: 1;

        @media screen and (max-width: $tablet) {
          top: 0;
        }
      }

      &_large {
        z-index: 10;
        top: 0;
        left: 0;
        transform: scale(2, 2) translateX(10%);
        transition: all 0.5s;
        transform-origin: left center;

        @media screen and (max-width: $tablet) {
          transform: scale(1.5, 1.5) translateX(10%);
        }
      }
    }

    &_wrapper {
      position: relative;
      width: 300px;
      min-width: 300px;
      height: 250px;

      @media screen and (max-width: $tablet) {
        width: 250px;
        min-width: 250px;
        height: 150px;
        margin-bottom: 20px;
      }
    }
  }
}
