.header {
  width: 100%;
  font-size: 2rem;
  color: #fff;
  z-index: 10;
  position: fixed;

  @media screen and (max-width: $tablet) {
    font-size: 1.4rem;
  }
}

.header_scroll {
  background-color: $header-color;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  
}

li {

  &:first-child {
    padding-left: 10px;
  }
  padding-right: 10px;
  cursor: pointer;

  &:hover {
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.7);
    ;
  }
}

.active {
  color: #ff0;
}
