.skills {
  &_wrapper {
    flex-wrap: wrap;
    // padding: 50px;
  }

  &_image {
    width: 150px;
    height: 150px;
    background-image: url('../assets/icons/html5_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &_description {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

  &_item {
    padding: 20px;
  }
}
